<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./dist/output.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>buttons</title>
</head>
<style>
  body{
    background-size: cover;
    background-image: url('/assets/images/SL-113022-54210-35.jpg');
  }
</style>
<div class="solid-buttons text-slate-100 flex space-x-6 justify-center align-middle mt-9">
    <button class="bg-blue-500 p-1 rounded-sm w-20 hover:bg-blue-700 hover:w-24 transition-all delay-100 duration-500">Solid</button>
<button class="bg-blue-500 p-1 rounded-sm w-20 hover:bg-blue-700 hover:p-2 hover:w-24 hover:text-xl transition-all duration-500">Solid</button>
    <button class="bg-blue-500 p-1 rounded-lg w-20 hover:bg-blue-700 hover:w-24 hover:animate-spin transition-all duration-500">Solid</button>
</div>
<div class="h-5"></div>
<div class="glass-buttons text-slate-100 flex space-x-6 justify-center">
    <button class="bg-white/30 p-1 rounded-md backdrop-blur-lg w-20 shadow-xl hover:w-24 hover:backdrop-blur-sm hover:bg-white/50 g transition-all delay-100 duration-500">Glass</button>
    <button class="bg-white/30 p-1 rounded-md backdrop-blur-lg w-20 shadow-xl hover:w-24 transition-all delay-100 duration-500">Glass</button>
    <button class="bg-white/30 p-1 rounded-sm backdrop-blur-lg w-20 shadow-xl hover:w-24 hover:p-2 hover:text-xl transition-all duration-500 ">Glass</button>
</div>
</html>