<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/output.css">
    <title>Cards</title>
</head>
<body class="flex justify-center mt-44">
    <style>
        body{
            background-size: cover;
            background-image: url('/assets/images/3500866.jpg');
        }
        .break {
            flex-basis: 100%;
            height: 0;
        }
    </style>
    

    <div class="primary-card bg-white/30 backdrop-blur-lg shadow-sm w-80 h-96 rounded-xl pt-6 hover:shadow-2xl transition-all duration-500 delay-100">
        <div class="flex justify-center">
            <div class="item-image bg-white/20 backdrop-blur-0 shadow-md w-72 h-48 rounded-md "></div>
        </div>
        <div class="h-1"></div>
        <div class="flex justify-center">
            <div class="item-text bg-white/20 backdrop-blur-0 shadow-md w-72 h-36 rounded-md">
                <p class="text-gray-900 p-2 font-sans">this is a card example</p>
            </div>
        </div>
    </div> 
</body>
</html>