<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"><body class="flex justify-center mt-80">
    <style>
        body{
            background-size: cover;
            background-image: url('/assets/images/batman.png');
        }
    </style>
    <body>
        <div class="icon-container bg-white/40 h-32 backdrop-blur-sm rounded-lg shadow-2xl flex 
    space-x-9 p-5" style="width: 450px;">
        <div class="bg-white/10 flex justify-center size-20 pt-6 rounded-xl shadow-2xl hover:bg-white/50 hover:-translate-y-2 transition-all duration-500">
            <i class="fa-brands fa-tiktok" style="font-size: 30px;"></i>
        </div>
        <div class="bg-white/10 flex justify-center size-20 pt-6 rounded-xl shadow-2xl hover:bg-slate-500/80 transition-all duration-500 delay-200">
            <i class="fa-brands fa-youtube" style="font-size: 30px;"></i>
        </div>
        <div class="bg-white/10 flex justify-center size-20 pt-6 rounded-xl shadow-2xl hover:bg-white/50 transition-all duration-500 delay-200">
            <i class="fa-brands fa-twitter" style="font-size: 30px;"></i>
        </div>
        <div class="bg-white/10 flex justify-center size-20 pt-6 rounded-xl shadow-2xl hover:bg-white/50 transition-all duration-500 delay-200">
            <i class="fa-brands fa-facebook" style="font-size: 30px;"></i>
        </div>
    </div>
</body>
</html>