<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <link rel="stylesheet" href="./dist/output.css">
</head>
<body class="bg-gradient-to-r from-red-700 to-pink-950">
    <div class="item-container overflow-x-auto w-full flex p-5 space-x-16" style="height: 450px;">
        <div class="horizontal-scroll-item"></div>
        <div class="horizontal-scroll-item"></div>
        <div class="horizontal-scroll-item"></div>
        <div class="horizontal-scroll-item"></div>
        <div class="horizontal-scroll-item"></div>
        <div class="horizontal-scroll-item"></div>

    </div>


</body>
</html>