<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="./dist/output.css">
</head>
    <body class="bg-slate-900">
        <div id="side-bar" class="fixed left-0 right-0 z-40 w-96 h-[800px] -translate-x-full bg-white transition-all duration-1000"></div>
        <div class="flex justify-center pt-24 relative">
            <button id="toggle-button" class="relative bg-blue-500 p-1 rounded-sm w-20 hover:bg-blue-700 hover:p-2 hover:w-24 hover:text-xl transition-all duration-500">Toggle</button>
        </div>
    </body>
<script src="/utils/side-bar-toggle.js"></script>
</html>